:root {
  --primary-orange: hsl(26, 100%, 55%);
  --primary-paleOrange: hsl(25, 100%, 94%);
  --neutral-darkBlue: hsl(220, 13%, 13%);
  --neutral-darkGrayishBlue: hsl(219, 9%, 45%);
  --neutral-grayishBlue: hsl(220, 14%, 75%);
  --neutral-lightGrayishBlue: hsl(223, 64%, 98%);
  --hover: 0.4s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

/* General */
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 60%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/* Start Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 110px;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 220px);
  height: 1px;
  background-color: var(--neutral-grayishBlue);
  opacity: 70%;
}

header .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

header .logo-container .logo {
  margin-right: 50px;
  letter-spacing: -1px;
}

header .logo-container .toggle-icon {
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

nav {
  margin-right: auto;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.links li {
  margin-top: 4px;
  font-size: 13px;
  color: var(--neutral-darkGrayishBlue);
  font-weight: 500;
  transition: var(--hover);
  position: relative;
}

.links li:hover {
  color: var(--neutral-darkBlue);
}

.links li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--primary-orange);
  top: calc(100% + 33px);
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--hover) transform;
}

.links li:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

nav #close {
  cursor: pointer;
  width: 15px;
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.cart_icon {
  cursor: pointer;
}

.cart_icon img {
  width: 17px;
}

.profile_pic img {
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
}

.profile_pic img:hover {
  border: 2px solid var(--primary-orange);
}

/* End Header */

@media (max-width: 869px) {
  nav {
    position: fixed;
    top: 0;
    left: -50%;
    width: 0;
    height: 100%;
    background-color: #fff;
    padding-top: 25px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    z-index: 9999;
    transition: 0.2s ease-in-out;
  }

  nav .links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 15px;
    margin-top: 50px;
  }

  nav .links li {
    color: var(--neutral-darkBlue);
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    border-right: 2px;
    padding: 10px 0;
    transition: 0.2s;
  }

  nav.open .links li::before {
    display: none;
  }

  nav.open .links li:hover {
    border-right: solid var(--primary-orange);
    background-color: #fafafa;
  }

  nav #close {
    display: block;
  }

  nav.open {
    width: 30%;
    left: 0;
  }

  header .logo-container .toggle-icon {
    display: block;
  }
}

/* Start Page Content */
main {
  padding: 50px 110px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.current-img img {
  width: 500px;
}

.optional-imgs {
  width: 500px;
  display: flex;
}

.optional-imgs img {
  max-width: 100%;
}

/* End Page Content */

@media (max-width: 769px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;
    -webkit-box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
  }

  header::before {
    display: none;
  }

  nav.open {
    width: 65%;
  }
}
