:root {
  --primary-orange: hsl(26, 100%, 55%);
  --primary-paleOrange: hsl(25, 100%, 94%);
  --neutral-darkBlue: hsl(220, 13%, 13%);
  --neutral-darkGrayishBlue: hsl(219, 9%, 45%);
  --neutral-grayishBlue: hsl(220, 14%, 75%);
  --neutral-lightGrayishBlue: hsl(223, 64%, 98%);
  --neutral-grayishBlue: hsl(220, 14%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

header .logo {
  margin-right: 30px;
}

nav {
  margin-right: auto;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.profile_pic img {
  max-width: 100%;
  width: 35px;
}