:root {
  --primary-orange: hsl(26, 100%, 55%);
  --primary-paleOrange: hsl(25, 100%, 94%);
  --neutral-darkBlue: hsl(220, 13%, 13%);
  --neutral-darkGrayishBlue: hsl(219, 9%, 45%);
  --neutral-grayishBlue: hsl(220, 14%, 75%);
  --neutral-lightGrayishBlue: hsl(223, 64%, 98%);
  --hover: 0.4s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

/* General */
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 60%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/* Start Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 150px;
  position: relative;
  background-color: #fff;
}

header::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 300px);
  height: 1px;
  background-color: var(--neutral-grayishBlue);
  opacity: 70%;
}

header .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

header .logo-container .logo {
  margin-right: 50px;
  letter-spacing: -1px;
}

header .logo-container .toggle-icon {
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

nav {
  margin-right: auto;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.links li {
  margin-top: 4px;
  font-size: 13px;
  color: var(--neutral-darkGrayishBlue);
  font-weight: 500;
  transition: var(--hover);
  position: relative;
}

.links li:hover {
  color: var(--neutral-darkBlue);
}

.links li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--primary-orange);
  top: calc(100% + 33px);
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--hover) transform;
}

.links li:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

nav #close {
  cursor: pointer;
  width: 15px;
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.cart_icon {
  cursor: pointer;
}

.cart_icon img {
  width: 17px;
}

.profile_pic img {
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
}

.profile_pic img:hover {
  border: 2px solid var(--primary-orange);
}

/* End Header */

/* Start Page Content */
main {
  padding: 60px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .product-container {
  flex: 1;
}

.current-img {
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.current-img img {
  border-radius: 10px;
  width: 400px;
  transition: opacity var(--hover);
}

.optional-imgs {
  width: 400px;
  display: flex;
  gap: 25px;
}

.optional-imgs .single-option {
  position: relative;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 11px;
}

.optional-imgs .single-option::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--neutral-lightGrayishBlue);
  opacity: 0;
  transition: var(--hover);
}

.optional-imgs .single-option:hover::before {
  opacity: 50%;
}

.optional-imgs .single-option.active::before {
  opacity: 70%;
}

.optional-imgs .single-option.active {
  border-color: var(--primary-orange);
}

.optional-imgs img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

main .product-container .current-img .next {
  display: none;
}

main .product-container .current-img .prev {
  display: none;
}

.product-details {
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}

.product-details .details-header p {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 10px;
}

.product-details .details-header h2 {
  text-transform: capitalize;
  font-size: 40px;
  margin-bottom: 30px;
}

.product-details .deatails-body {
  margin-bottom: 30px;
}

.product-details .deatails-body > p {
  color: var(--neutral-darkGrayishBlue);
  margin-bottom: 20px;
}

.product-details .deatails-body .price-offer-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.product-details .deatails-body .price-offer-container p {
  font-weight: 700;
  font-size: 25px;
}

.product-details .deatails-body .price-offer-container div {
  background-color: var(--primary-paleOrange);
  color: var(--primary-orange);
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 6px;
}

.product-details .deatails-body .old-price {
  color: var(--neutral-grayishBlue);
  text-decoration: line-through;
}

.product-details .product-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.product-details .product-actions .amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  background-color: var(--neutral-lightGrayishBlue);
  padding: 15px 20px;
  border-radius: 6px;
}

.product-details .product-actions .amount button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-details .product-actions .amount button:hover svg use {
  transition: var(--hover);
}

.product-details .product-actions .amount button:hover svg use {
  opacity: 75%;
}

.product-details .product-actions .amount #amount-number {
  font-weight: 700;
}

.product-details .product-actions .add-to-cart {
  background-color: var(--primary-orange);
  padding: 15px 70px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-box-shadow: -3px 27px 30px -5px rgba(255, 125, 26, 0.25);
  -moz-box-shadow: -3px 27px 30px -5px rgba(255, 125, 26, 0.25);
  box-shadow: -3px 27px 30px -5px rgba(255, 125, 26, 0.25);
  transition: var(--hover);
}

.product-details .product-actions .add-to-cart:hover {
  opacity: 75%;
}

.product-details .product-actions .add-to-cart svg path {
  fill: #fff;
}

.product-details .product-actions .add-to-cart p {
  font-weight: 500;
  font-size: 15px;
}

main .product-popup-container {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--hover);
}

main .product-popup-container .close {
  position: absolute;
  top: -25px;
  right: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

main .product-popup-container .close svg path {
  fill: #fff;
  transition: var(--hover);
}

main .product-popup-container .close:hover svg path {
  fill: var(--primary-orange);
}

main .product-popup-container .current-img .next {
  right: -15px;
}

main .product-popup-container .current-img .prev {
  left: -15px;
}

main .product-popup-container .current-img .next,
main .product-popup-container .current-img .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

main .product-popup-container .current-img .next svg {
  margin-left: 3px;
}

main .product-popup-container .current-img .prev svg {
  margin-right: 3px;
}

main .product-popup-container .current-img .next svg path,
main .product-popup-container .current-img .prev svg path {
  transition: 0.2s;
}

main .product-popup-container .current-img .next:hover svg path,
main .product-popup-container .current-img .prev:hover svg path {
  stroke: var(--primary-orange);
}

/* End Page Content */

@media (max-width: 1269px) {
  main {
    padding: 60px 110px;
    gap: 50px;
  }

  main .product-details .product-actions .add-to-cart {
    padding: 15px 50px;
  }
}

@media (max-width: 992px) {
  nav {
    position: fixed;
    top: 0;
    left: -50%;
    width: 0;
    height: 100%;
    background-color: #fff;
    padding-top: 25px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    z-index: 9999;
    transition: 0.2s ease-in-out;
  }

  nav .links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 15px;
    margin-top: 50px;
  }

  nav .links li {
    color: var(--neutral-darkBlue);
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    border-right: 2px;
    padding: 10px 0;
    transition: 0.2s;
  }

  nav.open .links li::before {
    display: none;
  }

  nav.open .links li:hover {
    border-right: solid var(--primary-orange);
    background-color: #fafafa;
  }

  nav #close {
    display: block;
  }

  nav.open {
    width: 30%;
    left: 0;
  }

  header .logo-container .toggle-icon {
    display: block;
  }

  main {
    flex-direction: column;
    gap: 0px;
  }

  main .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  main .product-container .optional-imgs {
    flex-direction: column;
    width: auto;
    height: 400px;
  }

  main .product-container .single-option {
    width: 73px;
  }
}

@media (max-width: 769px) {
  header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;
    -webkit-box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: 3px 0px 8px -3px rgba(0, 0, 0, 0.68);
  }

  header::before {
    display: none;
  }

  nav.open {
    width: 65%;
  }

  main {
    padding: 130px 30px;
  }
}

@media (max-width: 561px) {
  main {
    padding: 0;
  }

  main .product-container .current-img {
    position: relative;
  }

  main .product-container .current-img img {
    border-radius: 0;
    width: 100%;
  }

  main .product-container .optional-imgs {
    display: none;
  }

  main .product-container .current-img .next,
  main .product-container .current-img .prev {
    display: block;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  main .product-container .current-img .next {
    right: 3%;
  }

  main .product-container .current-img .prev {
    left: 3%;
  }

  main .product-container .current-img .next svg {
    margin-left: 3px;
  }

  main .product-container .current-img .prev svg {
    margin-right: 3px;
  }

  main .product-container .current-img .next svg path,
  main .product-container .current-img .prev svg path {
    transition: 0.2s;
  }

  main .product-container .current-img .next:hover svg path,
  main .product-container .current-img .prev:hover svg path {
    stroke: var(--primary-orange);
  }

  .product-details {
    padding: 0px 20px 30px;
  }

  .product-details .details-header p {
    font-size: 10px;
  }

  .product-details .details-header h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .product-details .deatails-body {
    margin-bottom: 15px;
  }

  .product-details .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-actions .amount {
    width: 100%;
  }

  .product-actions .add-to-cart {
    width: 100%;
  }
}
